<div id="footer">
  <br>
  @Html.ActionLink("Home", "Index", "Home")
  <img id="footer-image" src="~/images/WIKIPEDIA15_SWEDEN_FIKA-01.svg.png" width="15px" height="15px" alt="pastry icon">
  @Html.ActionLink("Treats", "Index", "Treats")
  <img id="footer-image" src="~/images/WIKIPEDIA15_SWEDEN_FIKA-01.svg.png" width="15px" height="15px" alt="pastry icon">
  @Html.ActionLink("Flavors", "Index", "Flavors")
  <img id="footer-image" src="~/images/WIKIPEDIA15_SWEDEN_FIKA-01.svg.png" width="15px" height="15px" alt="pastry icon">
  @Html.ActionLink("Account", "Index", "Account")
</div>