@{
  Layout = "_Layout";
}

@using BakeryPlus.Models;

<div class="headerpadding"></div>

<h1>Treats</h1>
<hr />

<h4>Treats</h4>
@if (Model.Count == 0)
{
  <p>No treats have been added yet!</p>
}
<ul>
  @foreach (Treat treat in Model)
  {
    <li>@Html.ActionLink(treat.Description, "Details", "Treats", new { id = treat.TreatId})</li>
  }
</ul>
<p>@Html.ActionLink("Add a new treat", "Create", "Treats")</p>

<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>