.headerpadding {
  margin-top: 80px;
}

ul {
  padding-left: 40px;
}


div#header {
  top: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: bisque;
  font-style: italic;
  font-size: 12px;
  padding: 8px;
}


div#footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: bisque;
  font-size: 18px;
  padding-bottom: 12px;
}



#footer-image {
  margin: 0.5% 2% 0.5%;
}
